:root {
   --font-primary: "Syne", system-ui;
   --font-secondary: "Redaction Regular", sans-serif;
   --font-body: "Hanken Grotesk", sans-serif;

   --color-bg-mesh: #ffb55f44;
   --color-border: #636363;
   --color-gradient-cyan: rgba(31, 221, 255, 0.127);
   --color-gradient-pink: rgba(255, 133, 167, 0.25);

   --blur-layer-1: blur(0.5px);
   --blur-layer-2: blur(1px);
   --blur-layer-3: blur(2px);
   --blur-layer-4: blur(4px);
   --blur-layer-5: blur(8px);
   --blur-layer-6: blur(16px);
   --blur-layer-7: blur(32px);
   --blur-layer-8: blur(64px);
}

// Sections
nav {
   .gradient-blur {
      position: fixed;
      top: -70vh;
      height: 20em;
      z-index: 5;
      inset: auto 0 0 0;
      pointer-events: none;

      >div,
      ::before,
      ::after {
         top: -70vh;
         height: 20em;
         position: absolute;
         inset: 0;
      }

      ::before {
         top: -70vh;
         height: 20em;
         content: "";
         z-index: 1;
         backdrop-filter: blur(0.5px);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 0%,
               rgba(0, 0, 0, 1) 12.5%,
               rgba(0, 0, 0, 1) 25%,
               rgba(0, 0, 0, 0) 37.5%);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 0%,
               rgba(0, 0, 0, 1) 12.5%,
               rgba(0, 0, 0, 1) 25%,
               rgba(0, 0, 0, 0) 37.5%);
      }

      >div:nth-of-type(1) {
         top: -70vh;
         height: 20em;
         z-index: 2;
         backdrop-filter: blur(1px);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 12.5%,
               rgba(0, 0, 0, 1) 25%,
               rgba(0, 0, 0, 1) 37.5%,
               rgba(0, 0, 0, 0) 50%);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 12.5%,
               rgba(0, 0, 0, 1) 25%,
               rgba(0, 0, 0, 1) 37.5%,
               rgba(0, 0, 0, 0) 50%);
      }

      >div:nth-of-type(2) {
         top: -70vh;
         height: 20em;
         z-index: 3;
         backdrop-filter: blur(2px);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 25%,
               rgba(0, 0, 0, 1) 37.5%,
               rgba(0, 0, 0, 1) 50%,
               rgba(0, 0, 0, 0) 62.5%);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 25%,
               rgba(0, 0, 0, 1) 37.5%,
               rgba(0, 0, 0, 1) 50%,
               rgba(0, 0, 0, 0) 62.5%);
      }

      >div:nth-of-type(3) {
         top: -70vh;
         height: 20em;
         z-index: 4;
         backdrop-filter: blur(4px);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 37.5%,
               rgba(0, 0, 0, 1) 50%,
               rgba(0, 0, 0, 1) 62.5%,
               rgba(0, 0, 0, 0) 75%);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 37.5%,
               rgba(0, 0, 0, 1) 50%,
               rgba(0, 0, 0, 1) 62.5%,
               rgba(0, 0, 0, 0) 75%);
      }

      >div:nth-of-type(4) {
         top: -70vh;
         height: 20em;
         z-index: 5;
         backdrop-filter: blur(8px);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 50%,
               rgba(0, 0, 0, 1) 62.5%,
               rgba(0, 0, 0, 1) 75%,
               rgba(0, 0, 0, 0) 87.5%);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 50%,
               rgba(0, 0, 0, 1) 62.5%,
               rgba(0, 0, 0, 1) 75%,
               rgba(0, 0, 0, 0) 87.5%);
      }

      >div:nth-of-type(5) {
         top: -70vh;
         height: 20em;
         z-index: 6;
         backdrop-filter: blur(16px);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 62.5%,
               rgba(0, 0, 0, 1) 75%,
               rgba(0, 0, 0, 1) 87.5%,
               rgba(0, 0, 0, 0) 100%);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 62.5%,
               rgba(0, 0, 0, 1) 75%,
               rgba(0, 0, 0, 1) 87.5%,
               rgba(0, 0, 0, 0) 100%);
      }

      >div:nth-of-type(6) {
         top: -70vh;
         height: 20em;
         z-index: 7;
         backdrop-filter: blur(32px);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 75%,
               rgba(0, 0, 0, 1) 87.5%,
               rgba(0, 0, 0, 1) 100%);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 75%,
               rgba(0, 0, 0, 1) 87.5%,
               rgba(0, 0, 0, 1) 100%);
      }

      ::after {
         top: -70vh;
         height: 20em;
         content: "";
         z-index: 8;
         backdrop-filter: blur(64px);
         -webkit-mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 87.5%,
               rgba(0, 0, 0, 1) 100%);
         mask: linear-gradient(to top,
               rgba(0, 0, 0, 0) 87.5%,
               rgba(0, 0, 0, 1) 100%);
      }
   }

   display: flex;
   justify-content: center;
   width: 100%;
   height: 10em;
   top: 0;
   position: fixed;
   z-index: 9 !important;

   .navbar-items-container {
      z-index: 10 !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 70%;
   }

   .navbar_logo {
      width: 2.5em;
      height: inherit;
      -webkit-user-drag: none;
   }

   ul {
      display: flex;
      width: 30%;
      justify-content: space-between;

      li {
         list-style: none;
      }
   }
}

.hero {
   height: 100vh;
   width: 70%;
   margin: 0 auto 0 auto;

   .hero-container {
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 80%;
      font-style: normal;
      font-weight: 300;
      font-family: var(--font-primary);

      a {
         transition: all 0.4s;
      }

      a:hover {
         transform: scale(1.1);
      }

      h1 {
         font-size: clamp(3.7rem, 3vw + 3rem, 5rem);
         font-family: var(--font-secondary);
      }

      p {
         font-size: clamp(1.429rem, 2vw + 1rem, 2rem);
         font-family: var(--font-body);
      }

      .from {
         display: flex;
         align-items: center;
      }

      .argentina {
         width: 1em;
         margin: 0.2em;
      }
   }
}

.divider {
   z-index: 0;
   margin-top: 7em;
   border-top: 1px solid;
   border-image: radial-gradient(circle, var(--color-border), transparent) 1;
}

.projects {
   height: fit-content;
   width: 70%;
   margin: 0 auto 0 auto;

   h2 {
      font-size: clamp(1rem, 1vw + 2.5rem, 4rem);
      font-family: var(--font-primary);
      font-weight: 500;
      margin-bottom: 2em;
      display: flex;
      justify-content: center;
   }

   .grid-container {
      display: grid;
      grid-template: 1fr 1fr / repeat(2, minmax(15em, 1fr));
      gap: 2.5em;
      grid-auto-flow: row;
      grid-template-areas:
         ". ."
         ". .";

      .proyect-card {
         display: flex;
         flex-direction: column;
         width: 100%;
         border-radius: 25px;
         height: max-content;
         background-color: var(--color-bg-mesh);
         background-image: radial-gradient(at 80% 20%,
               var(--color-gradient-cyan) 0px,
               transparent 90%),
            radial-gradient(at 20% 80%,
               var(--color-gradient-cyan) 0px,
               transparent 90%),
            radial-gradient(at 80% 80%,
               var(--color-gradient-pink) 0px,
               transparent 90%),
            radial-gradient(at 25% 25%,
               var(--color-gradient-pink) 0px,
               transparent 90%);

         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
         transition: transform 0.3s ease, box-shadow 0.3s ease;

         &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
         }

         .card-header {
            font-size: clamp(1.1rem, 2vw + 1rem, 1.5rem);
            height: 3.5em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 1em 1.7em 1em 1.7em;
         }

         .card-video {
            display: flex;
            justify-content: center;
            width: 90%;
            margin: 0 auto 0 auto;
            position: relative;
            padding-bottom: 56.206%;
         }

         .logos-container {
            display: flex;
            margin: 0.5em 1.7em 1em 1.7em;
            justify-content: space-between;
         }
      }
   }
}

.technologies {
   height: fit-content;
   width: 70%;
   display: flex;
   flex-direction: column;
   margin: 0 auto 6em auto;
   align-items: center;

   h2 {
      font-size: clamp(1rem, 1vw + 2.5rem, 4rem);
      font-family: var(--font-primary);
      font-weight: 500;
      margin: 1em 0 1.5em 0;
   }

   .technologies-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      border-radius: 25px;
      background-color: var(--color-bg-mesh);
      background-image: radial-gradient(at 80% 20%,
            var(--color-gradient-cyan) 0px,
            transparent 90%),
         radial-gradient(at 20% 80%, var(--color-gradient-cyan) 0px, transparent 90%),
         radial-gradient(at 80% 80%, var(--color-gradient-pink) 0px, transparent 90%),
         radial-gradient(at 25% 25%, var(--color-gradient-pink) 0px, transparent 90%);

      .logos {
         width: 8em;
         height: 8em;
         margin: 1em;
      }
   }
}

.footer {
   height: 20vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   .footer-border {
      z-index: 0;
      border: none;
      width: 100%;
      height: 1px;
      background-image: radial-gradient(circle, var(--color-border), transparent);
   }

   p {
      font-family: var(--font-body);
   }
}

// For Specific Components

.logo-container {
   display: flex;
   flex-direction: row;

   a {
      transition: all 0.4s;
      margin-left: 1rem;
   }

   a:hover {
      transform: scale(1.1);
   }
}

.logos {
   width: 3em;
   height: 3em;
}

@media screen and (max-width: 1280px) {
   nav {
      ul {
         width: 30vh;
      }
   }
}

@media screen and (max-width: 878px) {
   .divider {
      margin-top: 4em;
   }

   .projects {
      h2 {
         margin-bottom: 1em;
      }

      .grid-container {
         grid-template: 1fr / 100%;
         gap: 2em;
         grid-template-areas:
            "."
            "."
            "."
            ".";

         .proyect-card {
            .logos-container {
               flex-wrap: wrap;
            }
         }
      }
   }

   .tecnologies {
      h2 {
         margin: 0.5em 0 1em 0;
      }
   }
}

@media screen and (max-width: 522px) {
   .hero {
      .hero-container {
         align-items: center;
         text-align: center;
      }
   }

   .logo-container {
      align-items: center;

      a {
         margin-left: 0.5rem;
      }
   }

   .logos {
      width: 2.5em;
      height: 2.5em;
   }

   .tecnologies {
      .tecnologies-container {
         .logos {
            width: 4em;
            height: 4em;
            margin: 0.8em;
         }
      }
   }
}

@media screen and (max-width: 424px) {
   .logo-container {
      text-align: start;

      p {
         width: min-content;
      }

      a {
         margin-right: 0.5rem;
      }
   }

   nav {
      ul {
         flex-direction: column;
         align-items: end;

         li {
            font-size: 0.9em;
         }
      }
   }

   .tecnologies {
      margin: 0 auto 2em auto;
   }
}